#container{
    text-align: center;
}
#myBox{
    border: 4px solid ;
}
#points{
    font-family: cursive;
    font-size: 100px;
}
#reset{
    font-family: cursive;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: 4px solid ;
    border-radius: 15px;
    cursor: pointer;
}